@using Language_School_Web.Models;
@model RegisterViewModel
@{
    Layout = null;
}
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Vendorr/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Vendorr/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Content/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Register an Account</div>
            <div class="card-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputName">First name</label>
                                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Enter first name", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputLastName">Last name</label>
                                @Html.TextBoxFor(m => m.LastName, new { placeholder = "Enter last name", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        @Html.TextBoxFor(m => m.Email, new { type = "email", placeholder = "Enter email", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Phone Number</label>
                        @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "Enter phone number", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        @Html.TextBoxFor(m => m.UserName, new { placeholder = "Enter username", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputPassword1">Password</label>
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                <label for="exampleConfirmPassword">Confirm password</label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm password", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Register" class="btn btn-primary btn-block" />
                }
                <div class="text-center">
                    <a class="d-block small mt-3" href="@Url.Action("Login", "Account")">Login Page</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Vendorr/jquery/jquery.min.js"></script>
    <script src="~/Vendorr/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Vendorr/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
